<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <h2 class="right__main--title">Trending</h2>
    <div class="right__main--bottom">
      <div class="trending--person first-person">
        <img
          src="../images/pirate.svg"
          alt="pirate with a sword and hook"
          class="trending--images"
        />
        <h3>@Shanks</h3>
        <span>World Piece Builder</span>
      </div>
      <div class="trending--person second-person">
        <img
          src="../images/penguin.svg"
          alt="Picture of a penguin"
          class="trending--images"
        />
        <h3>@Xhavit</h3>
        <span>Super Cool Project</span>
      </div>
      <div class="trending--person third-person">
        <img
          src="../images/shark.svg"
          alt="Picture of a penguin"
          class="trending--images"
        />
        <h3>@Blerta</h3>
        <span>Best Italian Baker</span>
      </div>
      <div class="trending--person fourth-person">
        <img
          src="../images/treasure.svg"
          alt="Picture of a penguin"
          class="trending--images"
        />
        <h3>@Tuna</h3>
        <span>No Traffic Maker</span>
      </div>
    </div>
  </body>
</html>
