<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <h2 class="right__main--title">Announcements</h2>
    <div class="right__main--top">
      <div>
        <h3>Site Maintenance</h3>
        <p class="announcement--seperate">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque,
          sequi qui. Perspiciatis et porro beatae.
        </p>
      </div>
      <div>
        <h3>Community Share Day</h3>
        <p class="announcement--seperate">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque,
          sequi qui. Perspiciatis et porro beatae.
        </p>
      </div>
      <div>
        <h3>Update Privacy Policy</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque,
          sequi qui. Perspiciatis et porro beatae.
        </p>
      </div>
    </div>
  </body>
</html>
